

body {
	//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family: "brandon", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.mountain-background {
	background-image: url("images/mountainbackground.jpg");
	background-size:cover;
	width: 100%;
	height: 100vh;
	//the height of the image
	max-height: 949px;
}

@media(max-width:768px) {
  .navbar-collapse {
    background-color: black !important;
  }

}

.navbar {
	background-color: transparent !important;
	border-style: none !important;
	z-index: 1000;
	.navbar-nav a {
		font-size: 20px !important;
		color: #FFF !important;
		transition: color 0.5s;
		margin-top: 7px;
	}
	.navbar-nav a:hover {
		color: #777 !important;
	}
	.navbar-header a {
		transition: color 0.5s;
	}
	h2 {
		margin-top: 0 !important;
	}

}

.title {
	top: 70px;
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	span {
		color: rgb(80, 79, 79);
		font-size: 45px;
	}
}

.down-arrow {
	top: 60vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.navbar .navbar-collapse {
  text-align: center;
}


.title-box {
	//background-image: url("images/mountains.png");
	//background-color: rgb(0, 114, 119) !important;
	background-repeat: no-repeat;
	h1 {
		color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}

.services {
	line-height: 1em;
	h2 {
		margin-top: 60px;
		font-size: 48px;
		font-weight: 300;
		font-family: 'Brandon', Arial, sans-serif !important;
	}
	h2:after {
		content: "";
		position: absolute;
		width: 60px;
		height: 2px;
		background-color: #555;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
	}
	.service-icons {
		text-align: center;
		h3 {
			font-size: 22px;
			font-family: 'Brandon', Arial, sans-serif !important;
		}
	}
	.col-md-4 {
		margin-top: 50px;
	}
}
.attributions {
	text-align: right;
	font-size: 12px;
	font-color:grey;
}
