

body {
	//font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-family: "brandon", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	//fixes a bug where artifacts appear in the background after JS scroll
	-webkit-backface-visibility: hidden;
}

.mountain-background {
	background: url("images/mountainbackgroundlowres.jpg") no-repeat center top;
	background-size:cover;
	width: 100%;
	height: 100vh;
	//the height of the image
	max-height: 949px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

@media(max-width:768px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.72) !important;
  }


}

.navbar {
	background-color: transparent !important;
	border-style: none !important;
	z-index: 1000;
	.navbar-nav a {
		font-size: 20px !important;
		color: #FFF !important;
		transition: color 0.5s;
		margin-top: 7px;
	}
	.navbar-nav a:hover {
		color: #777 !important;
	}
	.navbar-header a {
		transition: color 0.5s;
	}
	h2 {
		margin-top: 0 !important;
	}

}

.introduction {
	top: 70px;
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	//color: rgb(80, 79, 79);
	color:white;
	.title {

		font-size: 45px;
	}
	.description {

		font-size: 20px;
	}
}

.down-arrow {
	bottom: 30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	fill: #333333;

	.down-button {
		display: inline-block;
		polygon {
			transition: fill 1.0s ease;
			stroke:#EFEBCD;
		}
	}

}
.down-button:hover {
	polygon {
		fill: #D57546;
	}
}
.navbar .navbar-collapse {
  text-align: center;
}


.title-box {
	//background-image: url("images/mountains.png");
	//background-color: rgb(0, 114, 119) !important;
	background-repeat: no-repeat;
	h1 {
		color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}

.underlined-title {
	margin-top: 80px;
	font-size: 48px;
	font-weight: 300;
	font-family: 'Brandon', Arial, sans-serif !important;
	text-align: center;
}
.underlined-title:after {
	content: "";
	position: absolute;
	width: 60px;
	height: 2px;
	background-color: #555;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.services {
	//line-height: 1em;
	.service-icons {
		text-align: center;
		h3 {
			font-size: 22px;
			font-family: 'Brandon', Arial, sans-serif !important;
			color: blue;
		}
	}
	.col-md-4 {
		margin-top: 50px;
		p {
			letter-spacing: 0.1px;
			font-size: 15px;
			font-weight: 300;
		}
	}
}

.about {
	margin-top: 60px;
	background: #333333;
	//background: linear-gradient(0deg, #303030 95%, white);
	color: whitesmoke;
	//border-top
}

.quote {
	background: url("images/creek.jpg") no-repeat center center;
	min-height: 400px;
}
@mixin show-description {
	img {
		//box-shadow: 0 0 15px white;
		opacity: 0.25;
	}
	.description {
		visibility: visible;
		opacity: 1;
	}
}
.projects {
	color:white;
	background: #333333;
	padding-bottom: 100px;
	.logos {
		margin-top: 50px;
	}
	h2 {
	}
	h2:after{
		background-color: white;
	}
	.col-md-3 {
		margin-top: 30px;
		text-align: center;

	}

	a {
		display:inline-block;
	}



	a:hover {
		@include show-description;
	}
	.description {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.5s ease;
		color:white;
		width: 200px;
		color: white;
		text-align: center;
		h2 {
			position: absolute;
			top: 25px;
			width: 200px;
	    //left:0;
	    //right:0;
	    //margin-left:auto;
	    //margin-right:auto;
		}
		p {
			position: absolute;
			top: 100px;
			width: 200px;
			padding: 0 15px;
		}
	}
	img {
		border-radius: 10px;
		box-shadow: 0 0 5px white;
		height: 200px;
		width: 200px;
		//transition: box-shadow 0.5s ease 0.5s;
		margin: 0 auto;
		transition: opacity 0.5s ease;
		opacity: 1;
	}

}
//show the project description always on mobile, since they cant hover
@media(max-width:768px) {
  .projects {
  	a {
  		@include show-description;
  	}
  }
}
.contact {
	.explanation {
		color:grey;
		text-align:center;
		margin-bottom: 30px;
		line-height: 30px;
	}
	form {
		margin-top: 60px;
		input{
			background: rgb(247, 247, 247);
		}
		textarea{
			background: rgb(247, 247, 247);
		}
	}
}

.attributions {
	//text-align: right;
	font-size: 10px;
	font-color:grey;
}
