.attributions.text-center
  h5 Icon Credits
  p.
    Arrow designed by <a href="http://www.thenounproject.com/adamatmullin">Adam  Mullin</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  p.
    Daydreaming designed by <a href="http://www.thenounproject.com/lshaull">Lorie Shaull</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  p.
    Landscape Architect designed by <a href="http://www.thenounproject.com/Joelseph1985">Joel Burke</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  p.
    Web Development designed by <a href="http://www.thenounproject.com/wilsonjoseph">Wilson Joseph</a> from the <a href="http://www.thenounproject.com">Noun Project</a>  
  p.
    Responsive Design designed by <a href="http://www.thenounproject.com/derekjp">Derek Palladino</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  p.
    Stopwatch designed by <a href="http://www.thenounproject.com/MRFADesigns">Martha Ormiston</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  p.
    Lock designed by <a href="http://www.thenounproject.com/johncaserta">John Caserta</a> from the <a href="http://www.thenounproject.com">Noun Project</a>