.contact
	.container
		h2.underlined-title Contact Me
		form(role="form")
			.col-md-5.col-md-offset-1
				input.form-group.form-control#name(type="text", placeholder="Email")
				input.form-group.form-control#email(type="email", placeholder="Name")
				input.form-group.form-control#subject(type="text", placeholder="Subject")
			.col-md-6
				textarea.form-group.form-control#message(type="text", placeholder="Message", rows="6")
