.projects
	.container
		h2.underlined-title.text-center
			| Projects
	.container.logos
		.col-md-3
			a(href="http://www.luxel.com",target="_blank")
				img.img-responsive(src="images/luxellogo.jpg")
				h2.text-center Luxel
		.col-md-3
			a(href="http://www.avisora.mx",target="_blank")
				img.img-responsive(src="images/avisoralogo.jpg")
		.col-md-3
			a(href="http://pol.is/about",target="_blank")
				img.img-responsive(src="images/polis.jpg")
		.col-md-3
			a(href="https://github.com/light24bulbs/dynamic-skiplist",target="_blank")
				img.img-responsive(src="images/skiplist.jpg")			