.projects
	.container
		h2.underlined-title.text-center
			| Projects
	.container.logos
		.col-md-3
			a(href="http://www.luxel.com",target="_blank")
				img.img-responsive(src="images/luxellogo.jpg")
				.description
					h2 Luxel
					p Components for orbital solar imaging
		.col-md-3
			a(href="http://www.avisora.mx",target="_blank")
				img.img-responsive(src="images/avisoralogo.jpg")
				.description
					h2 Avisora
					p Interactive map of urban issues
		.col-md-3
			a(href="http://pol.is/about",target="_blank")
				img.img-responsive(src="images/polis.jpg")
				.description
					h2 Polis
					p Discussion engine with graphs
		.col-md-3
			a(href="https://github.com/light24bulbs/dynamic-skiplist",target="_blank")
				img.img-responsive(src="images/skiplist.jpg")			
				.description
					h2 SkipList
					p Open source data structure in ruby