html(lang="en")
  head
    title Deep Winter
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Cache-control", content="public")
    meta(name="format-detection",content="telephone=no")
    link(rel="stylesheet", type="text/css", href="layout.css")
    link(href="libs/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    script(data-main="main", src="libs/require.js")
  body
    .mountain-background
      nav(class="navbar navbar-inverse", role="navigation")
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          .collapse.navbar-collapse#main-nav
            ul.nav.navbar-nav.navbar-right
              li
                a(href=".") About
              li
                a(href="projects") Projects
              li
                a(href="resume") Resume
              li
                a(href="contact") Contact
      .title.text-center
        span Deep Winter Development
      .down-arrow.text-center
        img(src="images/arrow.svg")
    .services
      .container
        .row.text-center
          h2 SERVICES
        .service-icons
          .col-md-4
            img(src="images/idea.svg")
            h3 BRAINSTORM
          .col-md-4
            img(src="images/design2.svg")
            h3 DESIGN
          .col-md-4
            img(src="images/develop.svg")
            h3 DEVELOP
      .container
        .row.text-center
          h2 FEATURES
        .service-icons
          .col-md-4
            img(src="images/responsive.svg")
            h3 RESPONSIVE
          .col-md-4
            img(src="images/fast.svg")
            h3 FAST
          .col-md-4
            img(src="images/secure.svg")
            h3 SECURE

    .attributions
      p.
        Arrow designed by <a href="http://www.thenounproject.com/adamatmullin">Adam  Mullin</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      p.
        Daydreaming designed by <a href="http://www.thenounproject.com/lshaull">Lorie Shaull</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      p.
        Landscape Architect designed by <a href="http://www.thenounproject.com/Joelseph1985">Joel Burke</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      p.
        Web Development designed by <a href="http://www.thenounproject.com/wilsonjoseph">Wilson Joseph</a> from the <a href="http://www.thenounproject.com">Noun Project</a>  
      p.
        Responsive Design designed by <a href="http://www.thenounproject.com/derekjp">Derek Palladino</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      p.
        Stopwatch designed by <a href="http://www.thenounproject.com/MRFADesigns">Martha Ormiston</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
      p.
        Lock designed by <a href="http://www.thenounproject.com/johncaserta">John Caserta</a> from the <a href="http://www.thenounproject.com">Noun Project</a>