doctype html
html(lang="en")
  head
    title Deep Winter
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Cache-control", content="public")
    meta(name="format-detection",content="telephone=no")
    link(href="libs/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="libs/ladda/ladda-themeless.min.css", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="layout.css")
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    script(data-main="main", src="libs/require.js")
    //would be faster to precomute this on server startup and pass into the template
    if process.env.PRODUCTION === 'true' 
      include analytics
  body
    .mountain-background.fullscreen
      nav(class="navbar navbar-inverse", role="navigation")
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          .collapse.navbar-collapse#main-nav
            ul.nav.navbar-nav.navbar-right
              li
                a.scroll-btn(href="#", data-scroll=".services") Services
              li
                a.scroll-btn(href="#", data-scroll=".about") About me
              li
                a.scroll-btn(href="#", data-scroll=".projects") Portfolio
              li
                a.scroll-btn(href="#", data-scroll=".contact") Contact
      .introduction.text-center
        p.title Deep Winter Development
        p.description Web Apps in Rails and Node


      .down-arrow.text-center
        .down-button.scroll-btn(data-scroll=".services")
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="-15.423 -2.27 100 100" enable-background="new -15.423 -2.27 100 100" xml:space="preserve">
          <defs>
          </defs>
          <rect x="18.042" y="67.72" width="33.068" height="5.158"/>
          <polygon points="13.715,41.831 24.159,54.445 34.604,67.059 45.021,54.422 55.438,41.785 46.237,41.795 40.518,21.847 34.255,0   28.313,21.937 22.928,41.82 "/>
          <path d="M49.189,26.677l-2.071,5.585c9.289,4.317,15.675,13.276,15.675,23.634c0,14.574-12.634,26.388-28.218,26.388  c-15.581,0-28.213-11.813-28.213-26.388c0-10.589,6.674-19.716,16.299-23.917l-2.146-5.54C8.429,31.557,0,43.054,0,56.427  c0,18.128,15.481,32.824,34.575,32.824c19.096,0,34.578-14.696,34.578-32.824C69.153,43.256,60.979,31.905,49.189,26.677z"/>
          </svg>
      //img.down-button(src="images/arrow.svg")
    include services
    include about
    include quote
    include projects
    include contact
    include footer