.services
  .container
    .row.text-center
      h2.underlined-title SERVICES
    .service-icons
      .col-md-4
        img.svg(src="images/idea.svg")
        h3 BRAINSTORM
        p 
          | We discuss your idea for free.
          | Our goal is to understand not just what you want but also why.
      .col-md-4
        img.svg(src="images/design2.svg")
        h3 DESIGN
        p
          | We use sketches and moch-ups to find the perfect form to your taste without sacrificing function.
      .col-md-4
        img.svg(src="images/develop.svg")
        h3 DEVELOP
        p
          | Fluent in a variety of technologies, our engineers use
          | the right tool for the job to deliver the best product in the least amount of time.
  .container
    .row.text-center
      h2.underlined-title FEATURES
    .service-icons
      .col-md-4
        img.svg(src="images/responsive.svg")
        h3 PORTABLE
        p
          | Mobile first philosophy ensures that your site will look great on any device.  For example, try this site on a phone or shrink your browser window.
      .col-md-4
        img.svg(src="images/fast.svg")
        h3 FAST
        p
          | Compression and asynchronous asset loading makes sites fly.
      .col-md-4
        img.svg(src="images/secure.svg")
        h3 SECURE
        p
          | Thourough penetration testing keeps data safe and secure.

